---
layout: default
---

<div class="page clearfix" index>

    <div class="left">

        <ul>
            {% for post in paginator.posts %}

              <li>
                <!--
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                -->
                <div class="label-card">{% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}</div>
                <div class="excerpt">{{post.excerpt}}</div>
                <!--
                <div class="read-all"><a  href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i>check my presentation...</a></div>
                -->
                <div class="read-all"><a  href="https://sergiocy.github.io/2026/02/22/presentation"><i class="fa fa-newspaper-o"></i>check my presentation...</a></div>
                <div class="read-all"><a  href="https://sergiocy.github.io/demo/"><i class="fa fa-play-o"></i>...use cases and projects...</a></div>
                <div class="read-all"><a  href="https://sergiocy.github.io/about/"><i class="fa fa-pencil-square-o"></i>...or got my CV and portfolio</a></div>


              </li>

            {% endfor %}
        </ul>


        <!-- Pagination links
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-angle-left"></i></a>
          {% else %}
            <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
            <span class="previous disable"><i class="fa fa-angle-left"></i></span>
          {% endif %}
          <span class="page_number ">{{ paginator.page }}/{{ 2 }}</span>
          {% if paginator.next_page and paginator.page < 2 %}
            <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
          {% else %}
            <span class="next disable"><i class="fa fa-angle-right"></i></span>
          {% endif %}
        </div>
        -->

        <!--{% include previousAndNext.html %}-->

    </div>


    <button class="anchor"><i class="fa fa-anchor"></i></button>


    <div class="right">
        <div class="wrap">
           <!--
            <div class="side">
                <div><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Overview</div>
                <ul class="content-ul" recent>
                     {% for post in site.posts offset: 0 limit: 2  %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                     {% endfor %}
                </ul>
            </div>
            -->
            <div class="side">
                <div><i class="fa fa-th-list"></i>Role and typology</div>
                {% include tagCloudCategories.html %}
            </div>

            <div class="side">
                <div><i class="fa fa-tags"></i>Skills</div>
                {% include tagCloud.html %}
            </div>

        </div>
    </div>

</div>


<script src="{{ "/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
