---
layout: default
---

<div class="page clearfix" demo>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </div>

    <button class="anchor"><i class="fa fa-anchor"></i></button>


    <div class="right">
        <div class="wrap">

            <div class="side">
                <div><i class="fa fa-th-list"></i>Role and typology</div>
                {% include tagCloudCategories.html %}
            </div>


            <div class="side">
                <div><i class="fa fa-tags"></i>Skills</div>
                {% include tagCloud.html %}
            </div>

        </div>
    </div>

</div>
