---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </div>

    <button class="anchor"><i class="fa fa-anchor"></i></button>

    <div class="right">
        <div class="wrap">

            <div class="side">
                <div><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Portfolio</div>
                <ul class="content-ul" recent>
                     {% for post in site.posts offset: 0 limit: 7 %}
                        <!--
                        {% assign firstcateg = post.categories.first %}
                        {% if firstcateg[1] == "portfolios") %}
                        {% endif %} -->
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                     {% endfor %}
                </ul>
            </div>

            <!-- home tags-->
            <div class="side">
                <div><i class="fa fa-tags"></i>Skills</div>
                {% include tagCloud.html %}
            </div>

        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
